nameOverride: minio
fullnameOverride: minio

persistence:
  size: 20Gi

accessKey:
  password: {{ requiredEnv "MINIO_ACCESS_KEY" }}

secretKey:
  password: {{ requiredEnv "MINIO_SECRET_KEY" }}

disableWebUI: false

mode: standalone

defaultBuckets: harbor,spinnaker,{{ env "LOKI_OBJECT_STORAGE_BUCKET" | default "loki" }}

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/minio/prometheus/metrics"
  prometheus.io/port: "9000"