createCustomResource: false
fullnameOverride: cert-manager
ingressShim:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
  defaultIssuerName: letsencrypt
  defaultIssuerKind: ClusterIssuer
webhook:
  enabled: true
resources:
  requests:
    cpu: 10m
    memory: 32Mi