{{- if not .Values._.ingress.enabled  }}
{{- if env "GOOGLE_PROJECT_ID" | default false }}
manifests:
  - metadata:
      name: google-credentials
    apiVersion: v1
    kind: Secret
    data:
      credentials.json: {{ requiredEnv "GOOGLE_APPLICATION_CREDENTIALS_SECRET" }}
{{- end }}
manifests: []
{{- else }}
manifests: []
{{- end }}
