charts:

  ingress:
    enabled: true

  certManager:
    enabled: true

  externalDNS:
    enabled: false

  minio:
    enabled: true

  harbor:
    enabled: true

  grafana:
    enabled: true

  prometheus:
    enabled: false

  prometheusOperator:
    enabled: true

  ## Logging
  loki:
    enabled: true

  promtail:
    enabled: true

  kubeapps:
    enabled: false
