manifests:
  - metadata:
      name: keycloak-admin-secret
    apiVersion: v1
    kind: Secret
    data:
      KEYCLOAK_USER: {{ requiredEnv "KEYCLOAK_ADMIN_USER" | b64enc }}
      KEYCLOAK_PASSWORD: {{ requiredEnv "KEYCLOAK_ADMIN_PASSWORD"| b64enc }}