manifests:
  - name: loki-extra-config
    apiVersion: v1
    kind: ConfigMap
    body:
{{- if eq (env "CLOUD_PROVIDER") "gcp" }}
  - name: loki-secrets
    apiVersion: v1
    kind: Secret
    body:
      data:
        gcs-key.json: {{ env "LOKI_GCS_CREDENTIALS" }}
{{- end }}