elasticsearchHosts: http://elasticsearch-master.{{ .Values.elasticsearch.namespace }}:9200

replicas: 1

protocol: http

extraEnvs:
{{- if env "ELASTICSEARCH_PASSWORD" }}
  - name: ELASTICSEARCH_USERNAME
    value: {{ requiredEnv "ELASTICSEARCH_USERNAME" }}
  - name: ELASTICSEARCH_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-credentials
        key: password
{{- end }}
