loki:
  serviceName: {{ .Values.charts.loki.name }}.{{ .Values.charts.loki.namespace }}

volumes:
- name: docker
  hostPath:
    path: /var/lib/docker/containers
- name: pods
  hostPath:
    path: /var/log/pods

volumeMounts:
- name: docker
  mountPath: /var/lib/docker/containers
  readOnly: true
- name: pods
  mountPath: /var/log/pods
  readOnly: true

{{- if .Values.charts.prometheusOperator.enabled }}
serviceMonitor:
  enabled: true
{{- end }}