manifests:
  - metadata:
      name: loki-secrets
    apiVersion: v1
    kind: Secret
    data:
{{- if eq .Values._.cloudProvider "gcp" }}
      gcs-key.json: {{ env "LOKI_GCS_CREDENTIALS" }}
{{- end }}