manifests:
  - metadata:
      name: loki-extra-config
    apiVersion: v1
    kind: ConfigMap
{{- if eq (env "CLOUD_PROVIDER") "gcp" }}
  - metadata:
      name: loki-secrets
    apiVersion: v1
    kind: Secret
    data:
      gcs-key.json: {{ env "LOKI_GCS_CREDENTIALS" }}
{{- end }}