sources:
  - service
  - ingress
rbac:
  create: "true"
domainFilters:
  - {{ requiredEnv "EXTERNAL_DNS_DOMAIN" }}
resources:
  limits:
    memory: 50Mi
    cpu: 100m
  requests:
    memory: 50Mi
    cpu: 10m
{{- if and (eq .Values._.cloudProvider "gcp") (env "EXTERNAL_DNS_SECRET") }}
provider: google
google:
  project: {{ env "GOOGLE_PROJECT_ID" }}
  serviceAccountSecret: {{ env "EXTERNAL_DNS_SECRET" }}
{{- end }}