{{- if and (eq .Values._.cloudProvider "gcp") (env "EXTERNAL_DNS_SECRET") }}
manifests:
  - metadata:
      name: google-credentials
    apiVersion: v1
    kind: Secret
    data:
      credentials.json: {{ requiredEnv "GOOGLE_APPLICATION_CREDENTIALS_SECRET" }}
{{- else }}
manifests: []
{{- end }}
